<!DOCTYPE html>
<html lang="en">

  <head>
      <meta charset="utf-8">
      <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
      <meta name="description" content="">
      <meta name="author" content="">

      <title>Hello World</title>
      <link href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO" crossorigin="anonymous">
      <link href="static/styles.css" rel="stylesheet">
  </head>

  <body>
  <nav class="navbar navbar-expand-lg navbar-dark bg-dark fixed-top">
      <div class="container">
          <a class="navbar-brand" href="#">About Me</a>
          <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarResponsive" aria-controls="navbarResponsive" aria-expanded="false" aria-label="Toggle navigation">
              <span class="navbar-toggler-icon"></span>
          </button>
          <div class="collapse navbar-collapse" id="navbarResponsive">
              <ul class="navbar-nav ml-auto">
                  <li class="nav-item active">
                      <a class="nav-link" href="/">Home
                          <span class="sr-only">(current)</span>
                      </a>
                  </li>
                  <li class="nav-item">
                      <a class="nav-link" href="">Subscribe</a>
                  </li>
              </ul>
          </div>
      </div>
  </nav>

  <div class="container">
      <header class="jumbotron my-4">
          <h1 class="display-3">About Me</h1>
      </header>
      <div class="row">
          <div class="col-md-2 col-md-offset-3"></div>
          <div class="col-lg-7 col-md-offset-1 center-text">
            <img class="rounded-circle" src="static/profile_photo.jpg" alt="Generic placeholder image" width="140" height="140">
            <h2>Heading</h2>
            <p>
                I'm fanatical about: Helping people to grow, building great teams and creating amazing products. Co-organizer of Python Medellin, PyLadies Medellin and Python Colombia organizations and PyCon Colombia event. Passionate self-taught technical team lead and full stack developer with experience in all software development life cycle phases. Human sponge that is thrilled to be surrounded and learn from really smart and experienced people to share later with other people. Love meeting new people, former metal band drummer and cyclist that loves speed.
            </p>
            <p><a class="btn btn-secondary" href="https://www.pycon.co/" role="button">View my page »</a></p>
          </div>
      </div>
      <div class="end-row"></div>
  </div>
  <footer class="py-5 bg-dark">
      <div class="container">
          <a href="https://jigsaw.w3.org/css-validator/check/referer">
              <img style="border:0;width:88px;height:31px"
                   src="https://jigsaw.w3.org/css-validator/images/vcss-blue"
                   alt="¡CSS Válido!" />
          </a>
          <p class="m-0 text-center text-white">Copyright &copy; Your Website 2018</p>
      </div>
  </footer>
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
  <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/js/bootstrap.min.js" integrity="sha384-ChfqqxuZUCnJSK3+MXmPNIyE6ZbWh2IMqE241rYiqJxyMiZ6OW/JmZQ5stwEULTy" crossorigin="anonymous"></script>
  </body>
</html>
