<!DOCTYPE html>
<html lang="en">

  <head>
      <meta charset="utf-8">
      <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
      <meta name="description" content="">
      <meta name="author" content="">

      <title>Web Page</title>
      <link href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO" crossorigin="anonymous">
      <link href="static/styles.css" rel="stylesheet">
  </head>

  <body>
  <nav class="navbar navbar-expand-lg navbar-dark bg-dark fixed-top">
      <div class="container">
          <a class="navbar-brand" href="#">About Me</a>
          <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarResponsive" aria-controls="navbarResponsive" aria-expanded="false" aria-label="Toggle navigation">
              <span class="navbar-toggler-icon"></span>
          </button>
          <div class="collapse navbar-collapse" id="navbarResponsive">
              <ul class="navbar-nav ml-auto">
                  <li class="nav-item active">
                      <a class="nav-link" href="/">Home
                          <span class="sr-only">(current)</span>
                      </a>
                  </li>
                  <li class="nav-item">
                      <a class="nav-link" href="/experience">Experience</a>
                  </li>
                  <li class="nav-item">
                      <a class="nav-link" href="/subscription">Subscribe</a>
                  </li>
              </ul>
          </div>
      </div>
  </nav>

  <div class="container">
      <header class="jumbotron my-4">
          <h1 class="display-3">About Me</h1>
      </header>
      <div class="row">
          <div class="col-md-2 col-md-offset-3"></div>
          <div class="col-lg-7 col-md-offset-1 center-text">
            <img class="rounded-circle" src="static/profile_photo.jpg" alt="Generic placeholder image" width="140" height="140">
            <p>
                I'm fanatical about helping people to grow, building great technology teams and creating amazing software products. I’m a huge believer that every person can reach their full potential as long as they find their true passion and purpose in life, big part of my job is to find, lead and mentor people with a common ground between their purpose and the company’s mission and vision.

I'm Chief Organizer at PyCon Colombia event. Also co-organizer at Python Colombia, Python Medellin, and PyLadies Medellin organizations.

Passionate self-taught technical team lead and full stack developer with knowledge of all the software development life cycle phases. Experience in development, design, architecture and deployment of large scale applications using Python back end and Javascript front end. Experience in requirements gathering, information architecture and testing. Experience in different programming languages such as Objective C, Java, Php, C# and others. Knowledge of multiple SQL and NoSQL database engines such as MySQL, PosgreSQL , MongoDB among others. Knowledge of software design patterns, UML and agile Scrum methodology.

Ability to lead teamwork and working under pressure. Excellent personal relationships, empathetic, communicator, adaptability to change, a remarkable willingness and ability to learn new stuff and constantly looking to grow. High sense of responsibility, ethics and honesty.

Human sponge that is thrilled to be surrounded and learn from really smart and experienced people to share later with other people. Love meeting new people, former metal band drummer and cyclist that loves speed.
            </p>
            <p><a class="btn btn-secondary" href="https://www.pycon.co/" role="button">View my page »</a></p>
          </div>
      </div>
      <div class="end-row"></div>
  </div>
  <footer class="py-5 bg-dark">
      <div class="container">
          <a href="https://jigsaw.w3.org/css-validator/check/referer">
              <img style="border:0;width:88px;height:31px"
                   src="https://jigsaw.w3.org/css-validator/images/vcss-blue"
                   alt="¡CSS Válido!" />
          </a>
          <p class="m-0 text-center text-white">Copyright &copy; Your Website 2018</p>
      </div>
  </footer>
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
  <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/js/bootstrap.min.js" integrity="sha384-ChfqqxuZUCnJSK3+MXmPNIyE6ZbWh2IMqE241rYiqJxyMiZ6OW/JmZQ5stwEULTy" crossorigin="anonymous"></script>
  </body>
</html>
