<!DOCTYPE html>
<html lang="en">

  <head>
      <meta charset="utf-8">
      <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
      <meta name="description" content="">
      <meta name="author" content="">

      <title>Web Page</title>
      <link href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO" crossorigin="anonymous">
      <link href="static/styles.css" rel="stylesheet">
  </head>

  <body>
  <nav class="navbar navbar-expand-lg navbar-dark bg-dark fixed-top">
      <div class="container">
          <a class="navbar-brand" href="#">About Me</a>
          <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarResponsive" aria-controls="navbarResponsive" aria-expanded="false" aria-label="Toggle navigation">
              <span class="navbar-toggler-icon"></span>
          </button>
          <div class="collapse navbar-collapse" id="navbarResponsive">
              <ul class="navbar-nav ml-auto">
                  <li class="nav-item">
                      <a class="nav-link" href="/">Home
                          <span class="sr-only">(current)</span>
                      </a>
                  </li>
                  <li class="nav-item active">
                      <a class="nav-link" href="/experience">Experience</a>
                  </li>
                  <li class="nav-item">
                      <a class="nav-link" href="/subscription">Subscribe</a>
                  </li>
              </ul>
          </div>
      </div>
  </nav>

  <div class="container my-4">
      <div class="row">
          <div class="col-lg-4  center-text">
            <img class="rounded-circle" src="https://media.licdn.com/dms/image/C4D0BAQE1ANcl092-7w/company-logo_400_400/0?e=1549497600&v=beta&t=OT9NoalX0wqZ9w9Ztvvy34HIGrqZjQgGYbgRGpft7ZA" alt="Generic placeholder image" width="140" height="140">
            <h2>LendingFront</h2>
              <p>Duración: 11 meses</p>
              <p>Cargo: Director Of Engineering</p>
              <p>Fechas de empleo: ene. de 2018 – actualidad</p>
              <p>Ubicación: Greater New York City Area</p>
              <p>Responsibilities:</p>
              <p>• Building and maintaining relationships with customer companies key personnel</p>
              <p>• Demo new features and platform improvements to clients, get their feedback and perform</p>
          </div>
          <div class="col-lg-4  center-text">
            <img class="rounded-circle" src="https://media.licdn.com/dms/image/C4D0BAQE1ANcl092-7w/company-logo_400_400/0?e=1549497600&v=beta&t=OT9NoalX0wqZ9w9Ztvvy34HIGrqZjQgGYbgRGpft7ZA" alt="Generic placeholder image" width="140" height="140">
            <h2>LendingFront</h2>
              <p>Duración: 1 año y 8 meses</p>
              <p>Cargo: Technical Team Lead</p>
              <p>Fechas de empleo: may. de 2016 - dic de 2017</p>
              <p>Ubicación: Greater New York City Area</p>
              <p>Responsibilities:</p>
              <p>• Lead recruiting process ensuring that the candidate fits properly the company culture </p>
              <p>• Do career coaching to team members of the technology team </p>
          </div>
          <div class="col-lg-4 center-text">
            <img class="rounded-circle" src="https://media.licdn.com/dms/image/C560BAQEvUos6iYpaOw/company-logo_400_400/0?e=1549497600&v=beta&t=1c8vi8eXKYYrafmjUOh-yu73yVVCcaMfIaQ4XMzmD8Q" alt="Generic placeholder image" width="140" height="140">
            <h2>Scalable Path</h2>
            <p>Duración: 11 meses</p>
              <p>Cargo: Technical Team Lead</p>
              <p>Fechas de empleo: jul. de 2015 - may. de 2016</p>
              <p>Ubicación: Bahía de San Francisco y alrededores, Estados Unidos</p>
              <p>Responsibilities:</p>
              <p>• Plan and coordinate system analysis, research, design architecture and implementation for an Cloud Platform to Improve in-store conversion and customer retention with powerful mobile apps for communications, clienteling, tasks, gamification and analytics.</p>
              <p>• Scrum master in a group formed by 3 talented people. </p>
          </div>
      </div>
      <div class="row">
          <div class="col-lg-4 center-text">
            <img class="rounded-circle" src="https://media.licdn.com/dms/image/C560BAQHxeNCNnox4Qg/company-logo_400_400/0?e=1549497600&v=beta&t=3RujKfXNZtH9PpW1Y3RhYEx0s_3KzYptlI2V5FCoBFE" alt="Generic placeholder image" width="140" height="140">
            <h2>Trotter</h2>
            <p>Duración: 9 meses</p>
              <p>Cargo: CTO / VP of Engineering</p>
              <p>Fechas de empleo: oct. de 2014 - jun. de 2015</p>
              <p>Ubicación: Greater Boston Area</p>
              <p>Responsibilities:</p>
              <p>• Coordinate teamwork among the technical department, marketing and strategy departments.</p>
              <p>• Plan and coordinate system analysis, research, design and implementation for Trotter’s Platform.</p>
          </div>
          <div class="col-lg-4  center-text">
            <img class="rounded-circle" src="data:image/gif;base64,R0lGODlhAQABAIAAAHd3dwAAACH5BAAAAAAALAAAAAABAAEAAAICRAEAOw==" alt="Generic placeholder image" width="140" height="140">
            <h2>Green Fon Group SAS</h2>
              <p>Duración: 1 mes</p>
              <p>Cargo: Software Development Instructor</p>
              <p>Fechas de empleo: sept. de 2014 - sept. de 2014</p>
              <p>Ubicación: Bogotá, Colombia</p>
              <p>Responsibilities:</p>
              <p>• HTML and Javascript instructor helping 5 professionals from FAC (Fuerza Aerea Colombiana) to learn basic programming using web technologies.</p>
          </div>
          <div class="col-lg-4 center-text">
            <img class="rounded-circle" src="https://media.licdn.com/dms/image/C4D0BAQEhU5L7rJIsvw/company-logo_400_400/0?e=1549497600&v=beta&t=dqiTVblhWeiM2ZOTxmNHvGMgpi2VSJkVkAwg_To1pPY" alt="Generic placeholder image" width="140" height="140">
            <h2>Haranda SOFTWARE</h2>
            <p>Duración: 9 meses</p>
              <p>Cargo: Technical Team Lead</p>
              <p>Fechas de empleo:  ene. de 2014 - sept. de 2014</p>
              <p>Ubicación: Bogotá, Colombia</p>
              <p>Responsibilities:</p>
              <p>• Plan and coordinate analysis, research, design and implementation of a Cloud Help Desk product.</p>
              <p>• Scrum master in a group formed by 6 talented professionals.</p>
          </div>
      </div>
      <div class="end-row"></div>
  </div>
  <footer class="py-5 bg-dark">
      <div class="container">
          <a href="https://jigsaw.w3.org/css-validator/check/referer">
              <img style="border:0;width:88px;height:31px"
                   src="https://jigsaw.w3.org/css-validator/images/vcss-blue"
                   alt="¡CSS Válido!" />
          </a>
          <p class="m-0 text-center text-white">Copyright &copy; Your Website 2018</p>
      </div>
  </footer>
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
  <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/js/bootstrap.min.js" integrity="sha384-ChfqqxuZUCnJSK3+MXmPNIyE6ZbWh2IMqE241rYiqJxyMiZ6OW/JmZQ5stwEULTy" crossorigin="anonymous"></script>
  </body>
</html>
